* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
}

.app {
  display: flex;
  background: #141527;
  text-align: center;
  width: 100%;
}

main {
  width: 80%;
  display: flex;
  flex-direction: column;
}
