@import './src/variables.scss';

img {
  height: 300px;
  width: 100%;
  margin: 0;
  border-radius: 3px 3px 0 0;
}

article {
  width: 48%;
  margin: 10px;
  background-color: white;
  border: 3px outset $light-color;
  border-radius: 3px;
}

h3 {
  height: 100px;
  color: $dark-color;
  font-size: 1.5em;
  margin-top: 0;
  padding: 5px;
  background-color: $light-color;
  display: flex;
  align-items: center;
}

p {
  height: 200px;
  color: $dark-color;
  font-size: 1.2em;
  padding: 10px;
  background-color: $light-color;
}

a {
  color: $light-color;
  background-color: $highlight-color;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  
  &:hover {
    color: $dark-color;
    
    svg {
      fill: $dark-color;
    }
  }
}

footer {
  height: 50px;
  width: 100%;
  color: $light-color;
  font-size: 1.5em;
  background-color: $highlight-color;
  border-radius: 0 0 3px 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

svg {
  height: 1em;
  width: 1em;
  fill: $light-color;
  margin-left: 25px;
  background-color: $highlight-color;
}